@page "/basic-blazor-form"
@using FormDemonstration.FormModels
@using Microsoft.AspNetCore.Components.Forms
@inject IJSRuntime JS

<h3>BasicBlazorForm</h3>
<EditForm Model="FormModel" OnSubmit="SubmitForm">
    <InputText @bind-Value="FormModel.ExampleString" />
    <button>Submit</button>
</EditForm>

@code {
    public BasicBlazorFormModel FormModel { get; set; } = new();

    public void SubmitForm()
    {
        JS.InvokeVoidAsync("alert", "Form submitted!");
    }
}