@page "/"

<PageTitle>Blazor School code sample</PageTitle>
<h1>Welcome to Blazor School!</h1>

Demonstrates the EditForm component Blazor WebAssembly .NET 7 - Blazor School
<br />
If you are looking for more Blazor WebAssembly tutorials, go to <a href="https://blazorschool.com" target="_blank">Blazor School</a>.

<div><NavLink href="blazor-form-vs-html-form">Compare Between EditForm and HTML form</NavLink></div>
<div><NavLink href="basic-blazor-form">Basic Blazor EditForm</NavLink></div>
<div><NavLink href="blazor-form-event">EditForm Events</NavLink></div>
<div><NavLink href="disable-form-control">Disable EditForm Field</NavLink></div>
<div><NavLink href="all-controls-usage">All Form Controls Usage</NavLink></div>
<div>Validation</div>
<div><NavLink href="validation-against-dynamic-data">Validate Against Dynamic Data</NavLink></div>
<div><NavLink href="validation-against-static-data">Validate Against Static Data</NavLink></div>
<div>Common Mistakes</div>
<div><NavLink href="create-functioning-button-as-submit">Create Functioning Button as Submit</NavLink></div>
<div><NavLink href="forget-data-annotations-validator-tag">Forgetting DataAnnotationsValidator Tag</NavLink></div>
<div><NavLink href="update-field-value-without-notify-field-changed">Update Field Value without Notify Field Changed</NavLink></div>