@page "/simple-blazor-form"
@using FormDemonstration.FormModels
@using Microsoft.AspNetCore.Components.Forms
@inject IJSRuntime JS

<h3>BasicBlazorForm</h3>
<EditForm Model="FormModel" OnSubmit="HandleFormSubmit">
    <InputText @bind-Value="FormModel.InputText" />
    <button>Submit</button>
</EditForm>

@code {
    public SimpleBlazorFormModel FormModel { get; set; } = new();

    public void HandleFormSubmit()
    {
        JS.InvokeVoidAsync("alert", "Form submitted!");
    }
}